<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <link rel="icon" type="image/png" href="/icon.png">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Research Project </title>
</head>
<body>
    <div class="min-h-screen w-full  bg-zinc-900 p-10 text-white">
        <a href="/index" class="inline-block text-zinc-500 mb-5">Go Back</a>
       
        <h1 class="text-3xl mb-3 tracking-tighter"> All People</h1>
        <div class="people flex gap-5 flex-wrap">
            <% people.forEach(function(person){ %>
                <div class="person-card border-2 border-zinc-800 rounded-lg p-5 w-60">
                    <img class="w-full h-40 object-cover rounded-lg  mb-3" src="<%= person.image %>" alt="Person Image">
                    <h3 class="text-xl mb-1"><%= person.name %></h3>
                    <h5 class="text-zinc-400"><%= person.occupation %></h5>  
                    <div class="flex gap-3 mt-3">
                        <a class="text-white-200"  href="/edit/<%= person._id %>">Edit Person</a>
                        <a class="text-red-400" href="/delete/<%= person._id %>">Delete Person</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>